.catImage-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.catImage{
    height: 100%;
    width: 100%;
    max-width: 50vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
}