.catFacts-container {
    width: 100wv;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.catFacts-container button {
    height: 32px;
    width: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.catFacts-container button:hover {
    color: rgb(255, 176, 46);
    border-color: rgb(255, 176, 46);
}

.catFacts-container section {
    margin: 10px 0 10px 0;
    width: 50%;
    border: 1px solid rgb(255, 176, 46);
    border-radius: 10px;
}

.catFacts-container section h3, p {
    margin: 10px;
}